:root { 
    --perfect: #1ccf00; 
    --great: #eaff00; 
    --okay: #ffb700;
    --bad: #bd0000;
    --outline: #000000;
}
#game-container { 
    position: relative;
    margin: auto; 
    width: 60rem;
    height: fit-content;
    top: 7dvh;
    margin-top: 3rem;
}

#game-border {
    position: relative; 
    width: 60rem;
    height: 15rem; 
    background-color: var(--red);
}

#game-inner {
    background-color: var(--white);
    position: absolute; 
    top: 0.5rem;
    left: 0.5rem;
    width: 59rem;
    height: 14rem;
    overflow: hidden;
}

#start-button {
    position: relative;
    margin: auto; 
    width: 10rem;
    height: 3rem;
    top: 5rem;
    background-color: var(--red);
    transition: ease-in-out;
    transition-duration: 0.1s;
    cursor: default;
}

#start-text-container {
    position: relative;
    margin: auto;
    width: fit-content;
    height: fit-content;
    top: 50%;
    transform: translate(0,-50%);
}

#start-button:hover {
    transition-duration: 0.1s;
}

#start-button-pressed {
    position: relative;
    margin: auto; 
    width: 10rem;
    height: 3rem;
    top: 5rem;
    background-color: var(--grey);
    transition: ease-in-out;
    transition-duration: 0.1s;
    cursor: default;
}

#game-canvas {
    width: 59rem;
    height: 14rem;
}