#game-container { 
    position: relative;
    margin: auto; 
    width: 60rem;
    height: fit-content;
    top: 3rem;
    margin-top: 3rem;
}

#game-border {
    position: relative; 
    width: 60rem;
    height: 15rem; 
    border-radius: 1rem;
    box-shadow: 0 0.05rem 0.4rem rgba(0,0,0,0.3);
    background-color: var(--red);
}

#game-inner {
    background-color: var(--white);
    position: absolute; 
    top: 1rem;
    left: 1rem;
    width: 58rem;
    height: 13rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.05rem 0.4rem rgba(0,0,0,0.3) inset;
    overflow: hidden;
}

#start-button {
    position: relative;
    margin: auto; 
    width: 10rem;
    height: 3rem;
    top: 5rem;
    background-color: var(--red);
    border-radius: 1rem;
    box-shadow: 0 0.05rem 0.4rem rgba(0,0,0,0.3);
    transition: ease-in-out;
    transition-duration: 0.1s;
    cursor: default;
}

#start-text-container {
    position: relative;
    margin: auto;
    width: fit-content;
    height: fit-content;
    top: 50%;
    transform: translate(0,-50%);
}

#start-button:hover {
    box-shadow: 0 0.05rem 1.5rem rgba(0,0,0,0.3);
    transition-duration: 0.1s;
}

#start-button-pressed {
    position: relative;
    margin: auto; 
    width: 10rem;
    height: 3rem;
    top: 5rem;
    background-color: var(--grey);
    border-radius: 1rem;
    box-shadow: 0 0.05rem 0.4rem rgba(0,0,0,0.3);
    transition: ease-in-out;
    transition-duration: 0.1s;
    cursor: default;
}

#game-canvas {
    width: 58rem;
    height: 13rem;
}