:root { 
    font-size: 1dvw; 
    --white: #f8f8f3; 
    --red: #f96969; 
    --green: #70e261;
    --blue: #68baf4;
    --yellow: #f2e266; 
    --black: #1d1d1d;
    --grey: #acaaaa;
    --notes-path-length: 0px;
}

@font-face {
    font-family: "Swansea";
    src: url("../fonts/Swansea.ttf");
}

@font-face {
    font-family: "SwanseaBold";
    src: url("../fonts/SwanseaBold.ttf");
}

body {
    padding: 0;
    margin: 0; 
    background-color: var(--white);
}

h2 {
    color: var(--black);
    font-size: 1.75rem;
    font-family: "SwanseaBold"; 
}

p {
    color: var(--black);
    font-size: 1.25rem;
    font-family: "Swansea";
    line-height: 1.5rem;
}

.light {
    color: var(--white);
}

#header-container {
    background-color: var(--white);
    border-bottom: 2px solid rgba(0,0,0,0.3);
    position: fixed; 
    width: 100%;
    top: 0;
    height: 7dvh; 
    z-index: 1000;
    box-shadow: 0 0.05rem 0.4rem rgba(0,0,0,0.3);
}
#content-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    height: 93dvh;
    margin-top: 7dvh;
}
