:root { 
    font-size: 1dvw; 
    --white: #f8f8f3; 
    --red: #99D699; 
    --green: #FFC999;
    --blue: #C1BADE;
    --yellow: #B0D0D3; 
    --black: #1d1d1d;
    --grey: #acaaaa;
}

@font-face {
    font-family: "Baskerville";
    src: url("../fonts/LibreBaskerville-Regular.otf");
}

@font-face {
    font-family: "BaskervilleBold";
    src: url("../fonts/LibreBaskerville-Bold.otf");
}

body {
    padding: 0;
    margin: 0; 
    background-color: var(--white);
}

h2 {
    color: var(--black);
    font-size: 1.75rem;
    font-family: "BaskervilleBold"; 
}

p {
    color: var(--black);
    font-size: 1.25rem;
    font-family: "Baskerville";
    line-height: 1.5rem;
}

.light {
    color: var(--white);
}

#header-container {
    background-color: var(--grey);
    position: fixed; 
    width: 100%;
    top: 0;
    height: 7dvh; 
    z-index: 1000;
}
