#game-container { 
    position: relative;
    margin: auto; 
    width: 60rem;
    height: 15rem;
    top: 3rem;
    margin-top: 3rem;
}

.line {
    fill: none;
    stroke: var(--red);
    stroke-width: 0.5;
    stroke-dasharray: var(--notes-path-length);
    stroke-dashoffset: var(--notes-path-length);
    animation: draw 1.5s linear 1; 
    animation-fill-mode: forwards; 
}

.thin-line {
    fill: none;
    stroke: var(--grey);
    stroke-width: 0.1;
}

@keyframes draw {
    100% {
        stroke-dashoffset: 0;
    }
}